<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>MyDayPlannerWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>EventsManager</servlet-name>
		<servlet-class>com.resources.EventsManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventsManager</servlet-name>
		<url-pattern>/events/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserManager</servlet-name>
		<servlet-class>com.resources.UserManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserManager</servlet-name>
		<url-pattern>/userOptions/*</url-pattern>
	</servlet-mapping>
</web-app>